---
import BaseLayout from "../layouts/BaseLayout.astro";
const identity = {
  firstName: "Sushant",
};
const skills = ["Typescript", "Vue", "React", "Astro"];
---

<BaseLayout>
  <div class="text-xl text-nightOwl-primary">
    About
    <!-- <p>Here are a few facts about me:</p> -->
    <!-- <ul> -->
    <!--   <li>My name is {identity.firstName}.</li> -->
    <!-- </ul> -->
    <!-- <p>My skills are:</p> -->
    <!-- <ul> -->
    <!--   {skills.map((skill) => <li>{skill}</li>)} -->
    <!-- </ul> -->
  </div>
</BaseLayout>
