---
import BaseLayout from "../layouts/BaseLayout.astro";
import Sphere from "../components/Threejs";
---

<BaseLayout title="Sushant Sharma | Home">
  <main class="flex items-center justify-center font-mono h-full">
    <div>
      <p class="text-nightOwl-pink mb-4 lg:mb-0 lg:py-10 text-xl">
        Hi, this is
      </p>
      <p class="text-3xl lg:text-5xl text-nightOwl-text font-bold py-2">
        Sushant Sharma
      </p>
      <p class="text-nightOwl-border text-2xl lg:text-4xl font-semibold">
        I build things for the web.
      </p>
      <p
        class="text-nightOwl-text text-xl lg:text-2xl mt-12 lg:mt-0 lg:py-8 lg:max-w-fit"
      >
        I’m a software engineer based in Bengaluru, IN specializing in building
        digital experiences.
      </p>
    </div>
    <div class="hidden lg:block">
      <Sphere client:load />
    </div>
  </main>
</BaseLayout>
