---
import BaseLayout from "../layouts/BaseLayout.astro";
import Sphere from "../components/Three.astro";
---

<BaseLayout title="Home">
    <div
        class="flex items-center lg:justify-between mt-10 flex-col lg:flex-row"
    >
        <h1 class="py-2 text-4xl text-nightOwl-primary">Astro</h1>
        <Sphere />
    </div>
</BaseLayout>
