---
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import LinkCard from "../components/LinkCard.astro";
import Navbar from "../components/Navbar.astro";

export const Links = [
  {
    link: "https://github.com/sushij",
    name: "Github",
    logo: "github",
  },
  {
    link: "https://github.com/sushij",
    name: "Twitter",
    logo: "twitter",
  },
  {
    link: "mailto:sushant.wurk@gmail.com",
    name: "Email",
    logo: "paper-plane-tilt",
  },
  {
    link: "https://www.linkedin.com/in/sushantsharma23",
    name: "Linkedin",
    logo: "linkedin",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <title>Sushant Sharma</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg" href="favicon.svg" />
    <link rel="stylesheet" href="fonts/inter/inter.css" />
  </head>
  <body
    class="mx-auto flex h-screen max-w-xl flex-col bg-[#111010] px-4 antialiased selection:text-pink-500/90"
  >
    <header class="ml-auto mt-8">
      <Navbar />
    </header>
    <main class="flex-grow">
      <div class="mt-12">
        <h5 class="text-xs font-bold italic text-pink-500/90">hey there!</h5>
        <h1 class="mt-8 text-2xl font-semibold tracking-tight text-neutral-100">
          I'm Sushant,
        </h1>
        <h3
          class="text-md prose mt-2 font-medium leading-tight text-neutral-400"
        >
          a <span class="italic"> software engineer</span> based in Bengaluru, IN.
          I enjoy building beautiful things that live on the internet. Also, currently
          looking for a new gig.
        </h3>
      </div>
      <ul class="mt-14 grid grid-cols-2 gap-2">
        {Links.map(({ link, logo }) => <LinkCard logo={logo} href={link} />)}
      </ul>
      <About />
    </main>
    <Footer />
  </body>
</html>
