---
const comfortable = ["Typescript", "Javascript", "React", "Node", "Tailwind"];
const familiar = ["Nextjs", "Vue", "Angular", "Go", "Elixir", "Java", "Docker"];

import Badge from "../components/Badge.astro";
---

<section class="grid grid-cols-2">
  <div class="mt-24">
    <h5 class="pb-6 text-xs font-bold italic text-pink-500/90">work</h5>
  </div>
  <div class="mt-24">
    <h5 class="pb-6 text-xs font-bold italic text-pink-500/90">projects</h5>
    <!-- <p class="prose text-sm text-neutral-400">things fairly comfortable with</p> -->
    <!-- <section class="flex flex-wrap gap-1 py-2 text-xs"> -->
    <!--   {comfortable.map((c) => <Badge title={c} />)} -->
    <!-- </section> -->
    <!-- <p class="prose pt-4 text-sm text-neutral-400">things I'm familiar with</p> -->
    <!-- <section class="flex flex-wrap gap-1 py-2 text-xs"> -->
    <!--   {familiar.map((f) => <Badge title={f} />)} -->
    <!-- </section> -->
  </div>
</section>
<!-- <p class="prose text-neutral-400"> -->
<!--   A <span class="italic text-neutral-50">full-stack developer</span> -->
<!--   driven by curiosity for learning and a deep love for building innovative solutions. -->
<!--   I like to constantly seek out new challenges and opportunities to expand my -->
<!--   skill set. Whether it's mastering the intricacies of database management systems -->
<!--   or diving into the latest technologies, I thrive on the thrill of discovery -->
<!--   and the satisfaction of turning ideas into reality. -->
<!-- </p> -->
