---
import File from "./icons/file.astro";
import Github from "./icons/github.astro";
import Link from "./icons/link.astro";
const { title, tech, desc, links } = Astro.props;
---

<div class="border-2 border-nightOwl-pink min-h-full w-96 p-6 rounded-md relative">
    <div class="flex justify-between text-nightOwl-pink">
      <File />
      <div class="flex text-nightOwl-text gap-2">
        <a href=`${links.github}`><Github /></a>
        { !!links.live && <a href=`${links.live ? links.live : ""}`><Link /></a>}
      </div>
    </div>
    <div class="py-4 mt-2 flex flex-col text-2xl lg:text-xl">
      <h1 class="font-semibold text-3xl">{title}</h1>
      <p class="font-light lg:text-lg py-4">{desc}</p>
    </div>
    <ul class="flex gap-2 font-thin absolute bottom-2 text-2xl lg:text-sm text-nightOwl-pink">
      {tech.map(t =>
        <li>{t}</li>
      )}
    </ul>
</div>
