---
import Badge from "./Badge.astro";

const { name, link, desc, tags } = Astro.props;
---

<a
  href={link}
  class="relative h-40 rounded-sm border-2 border-pink-500/40 p-2"
  target="blank"
>
  <div class="">
    <h1 class="mb-2 text-lg text-gray-100/75 underline">
      {name}
    </h1>
    <p class="text-xs text-gray-300/75">
      {desc}
    </p>
    <div class="absolute bottom-2 flex flex-wrap gap-1">
      {tags.map((t) => <Badge title={t} />)}
    </div>
  </div>
</a>
