---
import Badge from "./Badge.astro";

const { name, link, desc, tags } = Astro.props;
---

<a
  href={link}
  class="group rounded-lg border-2 border-text/40 p-2 text-text/70 transition-all hover:border-text/90 hover:text-text/80"
  target="blank"
>
  <div class="flex flex-col h-full">
    <div class="flex-1 pt-1 pb-4">
      <h1 class="text-md mb-2 italic underline group-hover:text-accent">
        {name}
      </h1>
      <p class="text-xs">
        {desc}
      </p>
    </div>
    <div class="hidden md:flex flex-wrap gap-1">
      {tags.map((t: string) => <Badge title={t} />)}
    </div>
  </div>
</a>
