---
import Github from "../components/icons/github.astro";
import Linkedin from "../components/icons/linkedin.astro";
import Twitter from "../components/icons/twitter.astro";
---

<footer class="lg:w-full lg:max-w-5xl lg:py-8 text-center text-nightOwl-text">
  <hr class="pb-2 lg:pb-6 border-nightOwl-border border-t-[1px]" />
  <div
    class="text-nightOwl-text flex flex-col-reverse lg:flex-row lg:justify-center lg:space-x-6 lg:pb-6 lg:items-center"
  >
    <a
      class="hover:text-nightOwl-pink text-xl lg:text-2xl py-2"
      href="mailto:sushant.wurk@gmail.com">sushant.wurk@gmail.com</a
    >
    <span
      class="hidden lg:inline border-r-2 border-nightOwl-pink border-solid h-10 lg:h-8"
    ></span>
    <div class="flex items-center justify-center pb-2 gap-4">
      <a
        class="hover:text-nightOwl-pink"
        href="https://www.github.com/sushij"
        target="_blank"
      >
        <Github />
      </a>
      <a
        class="hover:text-nightOwl-pink"
        href="https://www.linkedin.com/in/sushantsharma23"
        target="_blank"
      >
        <Linkedin />
      </a>
      <a
        class="hover:text-nightOwl-pink"
        href="https://www.twitter.com/sushidotgg"
        target="_blank"
      >
        <Twitter />
      </a>
    </div>
  </div>
  <p class="font-semibold text-sm">
    Made with <a
      class="hover:underline text-nightOwl-pink"
      href="https://astro.build/"
      target="_blank">Astro</a
    >
  </p>
</footer>
