---
import Icon from "../components/Icon.astro";
const { href, logo } = Astro.props;
---

<li class="col-span-1 transition-opacity text-white/90">
  <a
    class="border-white/40 border-2 inline-grid w-full rounded-lg p-4 no-underline"
    href={href}
    ><div class="flex items-center gap-3">
      <span class="text-xl"
        >
            <Icon icon={logo} height="24" width="24" />
      </span
      ><svg
        stroke="currentColor"
        fill="currentColor"
        stroke-width="0"
        viewBox="0 0 24 24"
        class="ml-auto h-5 w-5"
        height="1em"
        width="1em"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M18.25 15.5a.75.75 0 0 1-.75-.75V7.56L7.28 17.78a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734L16.44 6.5H9.25a.75.75 0 0 1 0-1.5h9a.75.75 0 0 1 .75.75v9a.75.75 0 0 1-.75.75Z"
        ></path></svg
      >
    </div></a
  >
</li>
