---
const Links = [
  { href: "/portfolio", name: "home" },
  // { href: "/about", name: "about" },
  { href: "/portfolio/resume.pdf", name: "resume", target: "_blank" },
];
---

<!-- TODO: Navbar -->
<nav>
  {
    Links.map((link) => (
      <a href={link.href} class="pr-4 text-white/40">
        {link.name}
      </a>
    ))
  }
  <!-- <a href="/" class=""> -->
  <!--   <Icon icon="main" height="40" width="40" viewBox="0 0 340 340" /> -->
  <!-- </a> -->
</nav>
