---
const Links = [
  { href: "/portfolio/resume.pdf", name: "resume", target: "_blank" },
  { href: "https://sushi-cv.vercel.app", name: "cv", target: "_blank" },
];
---

<nav class="space-x-2 text-xs font-medium">
  {
    Links.map((link) => (
      <a
        href={link.href}
        target={link.target}
        class="rounded border border-amber-300/30 bg-amber-300/20 px-2 py-1 text-text hover:text-neutral-50"
      >
        {link.name}
      </a>
    ))
  }
</nav>
