---
import Icon from "./Icon.astro";

const Links = [
  { href: "/", name: "Home" },
  { href: "/about", name: "About" },
  { href: "/resume.pdf", name: "Resume", target: "_blank" },
];
---

<!-- TODO: Navbar -->
<nav class="my-6">
  <a href="/" class="">
    <Icon icon="main" height="40" width="40" viewBox="0 0 340 340" />
  </a>
</nav>
