---
const Links = [
  // { href: "/portfolio", name: "home" },
  // { href: "/about", name: "about" },
  { href: "/portfolio/resume.pdf", name: "resume", target: "_blank" },
];
---

<nav class="text-sm font-medium">
  {
    Links.map((link) => (
      <a href={link.href} class="text-neutral-400 hover:text-neutral-50">
        {link.name}
      </a>
    ))
  }
</nav>
