---
const Links = [
  { href: "/portfolio", name: "home" },
  // { href: "/about", name: "about" },
  { href: "/portfolio/resume.pdf", name: "resume", target: "_blank" },
];
---

<nav class="text-sm">
  {
    Links.map((link) => (
      <a href={link.href} class="pr-4 text-gray-500 hover:text-white/70">
        {link.name}
      </a>
    ))
  }
</nav>
