---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg" href="favicon.svg" />
  </head>
  <body class="flex flex-col px-12 bg-[#0a0a0a] max-w-5xl mx-auto h-screen">
    <header>
      <Navbar client:load />
    </header>
    <slot />
    <Footer />
  </body>
</html>
