---
import Navbar from "../components/Navbar.astro";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
  </head>
  <body
    class="flex flex-col px-6 xl:px-0 bg-[#0a0a0a] max-h-screen overflow-y-auto max-w-5xl mx-auto"
  >
    <div class="h-screen">
      <Navbar />
      <div class="">
        <slot />
      </div>
    </div>
    <footer class="w-full max-w-5xl py-4 text-center text-gray-50">
      <hr class="pb-4 border-nightOwl-border border-t-[1px]" />
      <p class="font-semibold">
        Made with <a
          class="hover:underline text-nightOwl-pink"
          href="https://astro.build/"
          target="_blank">Astro</a
        >
      </p>
    </footer>
  </body>
</html>
