---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg" href="favicon.svg" />
    <link rel="stylesheet" href="fonts/inter/inter.css" />
    <ViewTransitions />
  </head>
  <body
    class="mx-auto flex h-screen max-w-2xl flex-col bg-gray-950 px-4 text-gray-200 antialiased"
  >
    <header class="mt-8">
      <Navbar />
    </header>
    <slot />
    <Footer />
  </body>
</html>
